 @media (max-width: 1270px){
    .card-container, .todas-geracoes{
        flex-wrap: wrap;
    }
    .descricao{
        flex-wrap: wrap;
        width: 800px;
    }
    .img-1{
        width: 100%;
    }
    .md img{
        width: 190px;
    }
    #modeToggle{
        top: 230px;
    }
    .iframe-video{

        width: 800px; 
        height: 450px;
    }
}
@media (max-width: 814px){
    .titulo{
        font-size: 30px;  
    }
    .descricao{
        width: 95%;
    }
    .info{
        text-align: center;
    }

    .m4 img{
        width: 200px;
    }
    .modal{
        width: 460px;
        height: 260px;
    }
    .desc-modal{
        font-size: 18px;
    }
    .logo-modal{
        width: 300px;
        margin-top: -20px;
    }
    .iframe-video{
        width: 620px;
        height: 350px;
    }
    }
 @media (max-width: 628px){
        .iframe-video{
            width: 490px;
            height: 260px;
        } 
    }
@media (max-width: 500px){
    .card{
        min-width: 30rem;
    }
    .logo ul{
        flex-direction: column;
        margin-left: -20px;
    }
    #s20{
        margin-left: 0px;
    }
    #modeToggle{
        width: 40px;
        top: 105px;
    }
    .modal{
        width: 320px;
        height: 260px;
    }
    .desc-modal{
        font-size: 15px;
    }
    .logo-modal{
        width: 270px;
        margin-top: -20px;
    }
    .iframe-video{
        width: 355px;
        height: 200px;
    }      
}
